<div class="social-area col-xs-12 col-sm-4">
  <div class="header">
    &nbsp;
  </div>
  <label>Easy 1-click login:</label>
  <%= button_tag "Facebook", class: "btn btn-social btn-facebook" %>
</div>
