<% if input_config.enabled && input_config.visible %>
  <div class="form-group group-email">
    <%= form.label input_name, input_config.label, class: label_class %>
    <div class="<%= input_class %>">
      <%= form.text_field input_name,
          value: (input_config.type == 'password' ? '' : value),
          name: input_name,
          placeholder: input_config.placeholder,
          required: input_config.required,
          type: input_config.type,
          class: "form-control"
      %>
    </div>
  </div>
<% end %>
