<div class="container custom-container">
  <div class="va-wrapper">
    <div class="view login-view container">
      <div class="box row">
        <%= render partial: '/sessions/form' %>
      </div>
      <%= link_to "Forgot Password?", forgot_path, class: "forgot" %>
    </div>
  </div>
</div>