/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
spec/fixtures/vcr_cassettes
spec/dummy/db/development.sqlite3
spec/dummy/log/development.log
spec/dummy/log/test.log
spec/dummy/tmp
spec/dummy/.powder
docs/_build
