<div class="container custom-container">
  <div class="va-wrapper">
    <div class="view registration-view container">
      <div class="box row">
        <%= render partial: '/users/form' %>
      </div>
      <%= link_to "Back to Log In", sign_in_path, class: "to-login" %>
    </div>
  </div>
</div>