<div class="container custom-container">
  <div class="va-wrapper">
    <div class="view login-view container">
      <div class="box row">
        <div class="email-password-area col-xs-12 large col-sm-12">
          <div class="header">
            <span>Your account verification email has been sent!</span>
            <p>Before you can log into your account, you need to activate your account by clicking the link we sent to you at your email address.</p>
            <p>Please check your inbox to continue.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>