<div class="container custom-container">
  <div class="va-wrapper">
    <div class="view login-view container">
      <div class="box row">
        <div class="email-password-area col-xs-12 large col-sm-12">
          <div class="header">
            <span>Account Verification Complete!</span>
            <p>Before you can log into your account, you need to activate your account by clicking the link we sent to you at your email address.</p>
            <p>Your account has been verified, and you have been logged into your account.  You will be redirected back to the site in 5 seconds.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var delay = 5000;
  setTimeout(function(){ window.location = "<%= root_path %>"; }, delay);
</script>