<div class="container custom-container">
  <div class="va-wrapper">
    <div class="view login-view container">
      <div class="box row">
        <div class="email-password-area col-xs-12 large col-sm-12">
          <div class="header">
            <span>Didn't receive your account verification email?</span>
            <p>Enter your email address below and we'll resend your account verification email.  You will be sent an email which you will need to open to continue. You may need to check your spam folder.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>