<div class="container custom-container">
  <div class="va-wrapper">
    <div class="view login-view container">
      <div class="box row">
        <div class="email-password-area col-xs-12 large col-sm-12">
          <div class="header">
            <span>Verification Failed</span>
            <p>Your account verification has failed.  This might happen for several reasons: your verification token might be expired, it might have already been used, or we may just be having issues right now!  Please try again, and if you're still having problems, contact the site administrator for help!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>