<h1>
  <%= current_account.email %> is currently signed in.
</h1>

<ul>
  <li><% current_account.given_name %></li>
  <li><% current_account.surname %></li>
  <li><% current_account.username %></li>
</ul>
