<div>
  <% if Stormpath::Rails.config.web.facebook_app_id %>
    <%= link_to 'Log in with Facebook', facebook_oauth_url %>
  <% end %>
</div>

<div>
  <% if Stormpath::Rails.config.web.github_app_id %>
    <%= link_to 'Log in with Github', github_oauth_url %>
  <% end %>
</div>

<div>
  <% if Stormpath::Rails.config.web.google_app_id %>
    <%= link_to 'Log in with Google', google_oauth_url %>
  <% end %>
</div>


<div>
  <% if Stormpath::Rails.config.web.linkedin_app_id %>
    <%= link_to 'Log in with LinkedIn', linkedin_oauth_url %>
  <% end %>
</div>
