<div class="container custom-container">
  <div class="va-wrapper">
    <div class="view registration-view container">
      <div class="box row">
        <%= render partial: 'stormpath/rails/register/form' %>
      </div>
      <% if Stormpath::Rails.config.web.login.enabled %>
        <%= link_to "Back to Log In", new_login_path, class: "to-login" %>
      <% end %>
    </div>
  </div>
</div>
