<div class="container custom-container">
  <div class="va-wrapper">
    <div class="view registration-view container">
      <div class="box row">
        <%= render partial: 'stormpath/rails/register/form' %>
      </div>
      <%= render 'stormpath/rails/shared/social_login' %>
      <%= link_to "Back to Log In", new_login_path, class: "to-login" %>
    </div>
  </div>
</div>
