<div class="container custom-container">
  <div class="va-wrapper">
    <div class="view login-view container">
      <div class="box row">
        <% if Stormpath::Rails.config.web.multi_tenancy.enabled && current_organization_name_key.nil? %>
          <%= render partial: 'stormpath/rails/shared/select_organization', locals: {url: login_path(next: params[:next])} %>
        <% else %>
          <%= render partial: 'stormpath/rails/login/form' %>

          <% if Stormpath::Rails.config.web.has_social_providers %>
            <%= render 'stormpath/rails/shared/social_login' %>
          <% end %>
        <% end %>
      </div>

      <% if Stormpath::Rails.config.web.forgot_password.enabled %>
        <%= link_to "Forgot Password?", new_forgot_password_path, class: "forgot" %>
      <% end %>
    </div>
  </div>
</div>
